<html xmlns:th="http://www.thymleaf.org">
    <head>
        <title>Identity Card</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        
            <table>
                <tr><td>  <h3 class="display-5" style="color:rgb(112, 17, 189); margin-left:150px;">Student concession Identity Card 2020-2021</h3></td>
                        </tr>
                </table>    
        <div id="main_div">
       
                <div id="main_table">
                <table>
                <tr><td><label style="color:rgb(112, 17, 189);">Personal Details</label></td>
                 <td><label style="margin-left:30px;color:rgb(112, 17, 189);">ID Number</label></td>
                            <td style="margin-left:30px;color:rgb(112, 17, 189);" th:text="${student.applicationno}"></td>
                        <td><img th:src="@{${student.getStudentImg}}" style="width:100px;height:100px; margin-left:200px"></td>
                        </tr>
                </table>
                    <table class="table table-borderless" style="color:rgb(112, 17, 189);">
                    <tr>
                       
                        <tr><td><label>Name </label></td>
                            <td th:text="${student.firstname}"></td> 
                            
                            <td><label>Mobile No.</label></td>
                            <td th:text="${student.phonenumber}"></td> 
                            </tr>
                            
                        
                        <tr><td><label>Gender</label></td>
                            <td th:text="${student.gender}"></td>
                            
                            <td><label>Age</label></td>
                            <td th:text="${student.age}">21</td>
                        </tr>
                        <tr><td><label>Institution/College</label></td>
                            <td th:text="${student.college}"></td>
                           
                            <td><label>Contact No.</label></td>
                            <td th:text="${college.collegetelephone}" ></td>
                        </tr>
                        <tr><td><label>Travel Type</label></td>
                            <td th:text="${student.typeofroute}"></td>
                            
                            <td><label>Valid Till</label></td>
                            <td>April 2021</td>
                        </tr> 
                    </table>             
                </div>
                                           
        </div>
       
        <div id="back_side">
            <div>
            <table class="table table-striped" style="color:rgb(112, 17, 189);">
                <tr>
                    <label style="margin-left:300px;color:rgb(112, 17, 189);">For office Use Only</label>
                </tr>
                <tr>
                    <td><label style="margin-left:30px">Part I</label></td>
                    <td><label style="margin-left:400px">Part II</label></td>
                </tr>
                <tr>
                    <td>From:<label style="margin-left:30px;color:rgb(112, 17, 189);" th:text="${student.fromcollege}"></label></td>
                    <td><label style="margin-left:300px">From</label></td>
                </tr>
                <tr>
                    <td>To:<label style="margin-left:30px;color:rgb(112, 17, 189);" th:text="${student.tohome}"></label></td>
                    <td><label style="margin-left:300px">To</label></td>
                </tr>
            </table>
            </div>
            <div>
            <table id="tableBottom"  class="table table-striped" style="color:rgb(112, 17, 189); height:300px;">
                <tr >
                    <td>Month 11th to 10th</td><td>ValueRs.</td><td>Ticket No.</td><td>Signature ofIssue Clerk</td><td>Seal Of the Counter</td>
                </tr>
                <tr>
                    <td>JUN-JUL</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>JUl-AUG</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>AUG-SEP</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>SEP-OCT</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>OCT-NOV</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>NOV-DEC</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>DEC-JAN</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>JAN-FEB</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>FEB-MAR</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>MAR-APR</td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>APR-MAY</td><td></td><td></td><td></td><td></td>
                </tr>
            </table>
            </div>
        </div>
    </body>
</html>