<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
	#success{
              color:rgb(75, 47, 47);
              font-size: 1.5em;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              text-align: center;
			  margin-top: 5%;
       }
</style>
<body style="background-color: rgb(179, 172, 172);">
	<div>
		<h1 id="headSection" class="display-5" style="text-align: center;">Online Bus Pass Application System</h1>
	</div>
	<div id="success" th:if="${success}">
		You have Successfully Submitted the form!
	</div>
	
 <div id="success" th:if="${success}">
	 Your Application number : <p th:text="${savedstudent.applicationno}"></p>
	 Your Name : <p th:text="${savedstudent.firstname}"></p>Note this for future activities
 </div>
  <div id="success" th:if="${fail}">
	 Your Application submission is failed 
 </div>
 <div style="margin-left:45% ;margin-top:5%">
 <form th:action=@{/home} method="get">
	<button type="submit" class="button btn-success" style="border-radius: 5px; padding: 1% 3%;">Go to Home</button>
	</form>
</div>
</body>
</html>